# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @fastly/security-research and @arunly will be requested for
# review when someone opens a pull request.
*       @fastly/security-research @arunly

